<style>
  body{
    background-color:cornflowerblue;
  }

  #div-1{
    text-align: right;
    margin-right: 5px;
  }

  textarea{
    border-radius: 10px;
    background-color:rgba(0,0,0,0.8);
    color: aqua;
    width: 100%;
    margin-bottom: 5px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 20px;
    min-height: 225px;
    max-height: 225px;
    min-width: 100%;
    max-width: 100%;
  }

  ::placeholder {
    color: aquamarine; 
  }

  #btn-1{
	background: #31384A;
	color: #fff;
	display: inline-block;
	font-size: 1.25em; /* 20 píxeles */
	margin: 15px;
	padding: 10px 0px;
	text-align: center;
	width: 200px;
	box-shadow: 0px 3px 0px #373c3c;
	border-radius: 50px;

  }

  form{
	width: 100%;
	margin: auto;
	background: rgba(0,0,0,0.5);
	padding: 10px 20px;
	box-sizing: border-box;
	border-radius: 20px;
  }

  #h3-res{
    font-size: 40px;
    text-align: center;
    color: green;
  }

  #h3-err{
    font-size: 40px;
    text-align: center;
    color: red;
  }

  code{
    font-size: 23px;
  }
  
</style>

<form action="/" method="post">
  <textarea id="text-a" name="consulta" rows="10" cols="100" placeholder="Escriba la consulta SQL:">{{ query}}</textarea>
  <div id="div-1">
    <input id="btn-1" type="submit" value="ENVIAR" href="#table">
  </div>
  
</form>

</br>

<style>

  table, th, td 
  {
    border: 3px solid aqua;
    border-collapse: collapse;
  }

  th, td 
  {
    padding: 2px 4px;
    font-size: 25px;
  }

  td{
    text-align: center;
  }
</style>

{{#if error}}
<div class="cajaError">
{{!-- <h1 class="msjError">Error</h1> --}}
<h3 id="h3-err">{{ error }}</h3>
</div>
{{/if}}

{{#if resultados}}
<div class="cajaResultados">

<h3 id="h3-res">Resultados</h3>
<!--<code>{{ resultados }}</code>-->
<center>
<table id="table">
  <thead class='head'>
    {{#each columnas}}
      {{#if this.name}}
      <td>{{this.name}}</td>
      {{/if}}
    {{/each}}
  </thead>
  <tbody class='body'>
    {{#each resultados}}
    <tr>
        {{#if this.id}}
        <td>{{this.id}}</td>
        {{/if}}
        {{#if this.nombre}}
        <td>{{this.nombre}}</td>
        {{/if}}
        {{#if this.comidaPreferida}}
        <td>{{this.comidaPreferida}}</td>
        {{/if}}
        {{#if this.fechaNacimiento}}
        <td>{{this.fechaNacimiento}}</td>
        {{/if}}
    </tr>
    {{/each}}
  </tbody>
</table>
</center>

</div>
{{/if}}
